AWS_REGION=ap-south-1
S3_BUCKET=<Your s3 bucket name>
S3_RAW_PREFIX=raw/telemetry
S3_PROCESSED_PREFIX=processed/telemetry

SNOWFLAKE_ACCOUNT=<Your Snowflake account name>
SNOWFLAKE_USER=<Your Snowflake username>
SNOWFLAKE_PASSWORD=<Your Snowflake password>
SNOWFLAKE_ROLE=<Your Snowflake role>
SNOWFLAKE_WAREHOUSE=TELEMETRY_WH
SNOWFLAKE_DATABASE=TESLA_TELEMETRY
SNOWFLAKE_SCHEMA=ANALYTICS

AIRFLOW_UID=50000

